/* #bill  {
  background-image: url("./images/usd.svg");  
  background-position: center;
  background-repeat: no-repeat;
  background-size: 2rem;
}

#people  {
  background-image: url("./images/user.svg");  
  background-position: center;
  background-repeat: no-repeat;
  background-size: 2rem;
}
*/

/* 

.fa-usd {
  font-family: FontAwesome;
  margin: 0 auto;
  font-size: 5rem;
  font-style: normal;
} */