#bill  {
  background-image: url("../images/nigeria-naira-currency-symbol.png");  
  background-position: 0.7rem center;
  background-repeat: no-repeat;
  background-size: 1rem;
}

#num-people  {
  background-image: url("../images/user.png");  
  background-position:  0.7rem center;
  background-repeat: no-repeat;
  background-size: 1rem;
}

#custom-tip  {
  background-image: url("../images/percentage.png");  
  background-position:  0.5rem center;
  background-repeat: no-repeat;
  background-size: 0.8rem;
}

